<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OkOk Bank | Login</title>

    <link rel="Stylesheet" href="/static/login.css">
    <link rel="icon" href="/static/Logo.png">
</head>

<body>
    <div class="Container">
        <div class="imagecontainer">

        </div>
        <form class="FormContainer" action="/Inputs" method="post">
            <div class="form1">
                <h1><img src="/static/Logo.png" width="50px">Login </h1>

                <p>Username:</p>
                <input class="input" type="text" placeholder="Username" name="Username"></input>

                <p>Password:</p>
                <input class="input" type="Password" placeholder="Password" name="Password"></input>


                <button class="btn" name="btn"> Login</button>
            </div>
    </div>
    </form>

    </div>
</body>

</html>